    // Header

    // Navbar
nav {
    background: #141517;
    overflow: hidden;
    border-bottom: 1px solid rgba(173, 173, 173, 0.395);
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;

    @media (max-width: $breakpoint1250) {
        grid-template-columns: 1fr 2.5fr 1fr;
    }

    @media (max-width: $breakpoint992) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {

    z-index: 1;
    a{
       img{
        width: 240px;
        height: 50px;

        @media (max-width: 350px) {
            width: 180px;
            height: 40px;
        }
       }
    }
    
}

.menu {
    display: flex;
    align-items: center;

    // .menu_item
    &__item {
        margin-top: 10px;
        margin-left: 25px;
    }

    // .menu_item-link
    &__item-link {
        color: white;
        font-size: 24px;
        font-weight: 400;

            img{
                width: 25px;
                height: 25px;
            }
    }

    a {
        position: relative;
      }
      
      a::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          border-radius: 4px;
          background-color: white;
          top: 1;
          bottom: 0;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform .3s ease-in-out;
        }
      
      a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
}

.pos {
    display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media (max-width: $breakpoint992) {
        display: none;
    }

    &__button {
        color: white;
    }

    &__button-text {
        font-size: 24px;
        border: none;
        border-radius: 40px;
        padding: 6px 16px;
        background-color: rgb(105, 156, 121);;
        font-weight: 400;
    }
    :hover {
        background-color: rgb(74, 108, 84);
        transition: .3s all ease;
    }
}

.burger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: $burgerBreakpoint) {
    .menu {
        position: fixed;
        background: #131418;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 22;
            animation: fade .1s linear;
        }
    }

    .burger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
        z-index: 102;
        cursor: pointer;

        &.active-burger {
            &:before {
                background: $burgerActiveColor;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 8px;
            }

            &:after {
                background: $burgerActiveColor;
                transform: rotate(-45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }

            & span {
                transform: scale(0);
            }
        }

        &:before,
        &:after {
            
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: white;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: white;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }

    .menu__item {
        margin-top: 10px;
    }
     
    .menu__item-link {
        margin-right: 10px;
        color: white;
        font-size: 27px;
        @media (max-width: $breakpoint768) {
            font-size: 30px;
        }
    }

    .menu__item-link img {
        @media (max-width: $breakpoint768) {
            width: 30px;
            height: 30px;
        }
    }
}